@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

/*
    font-family: 'Roboto Condensed', sans-serif; 
*/
html{
    scroll-behavior: smooth;
}

/* 기본 리셋 */
html, body{
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4{
    margin: 0;
    padding: 0;
    font-size: 100%;
    /* 글자크기가 100%는 기본글자크기에 맞춤(16px) */
}


body {
    /* background: url(imgs/bg.png) no-repeat center/100% 100%; */
}
/* 공사중 박스표시 */
/* 별표시(*)는 모든 요소를 선택함! */
body *{
    /* outline: 1px dashed #999999;     */
    /* outline: 1px dashed #faa83d; */
    /* 외곽선(아웃라인) 속성
        - 주변에 영향없이 테두리를 표시함
        - 임시표시하거나 포커스표시 등으로 사용
        - 박스 모델에는 표함되지 않음
        - 표기법은 border와 동일함
    outline: 두께 종류 색상; */
}

/******************* 1. 상단영역 *******************/
.top{
    background: #000;
    height: 124px;
}
#logo{
    padding: 5px 0 0 0;
    text-align: center;
}
#logo img{
    width: 80px;
    

    /* 애니메이션: 이시이지반방마 */
    /* animation: logoAni 2s ease-in-out forwards; */
}
/* GNB 메뉴 */
.gnb{
    width: 380px;
    margin: 0 auto;
    /* 크기를 가지는 블록박스 중앙정렬 - 마영오! */
    font-size: 18px;
    /* font-weight: bold; */
    font-family: 'Roboto Condensed', sans-serif; 
}
.gnb>ul{
    margin: 0;
    padding: 0;
    list-style: none;
    /* 3無 */
}

/* 가상요소로 clear */
/* .gnb>ul::after{
    content: '';
    display: block;
    clear: both;
} */
.gnb>ul>li{
    float: left;
}
/* 메뉴 a링크 */
.gnb>ul>li>a{
    color: #eee;
    text-decoration: none;
    padding: 0 20px;
    line-height: 30px;
    font-size: 13px;
}


/* @@@@@@@@@@@@@@@@@ robot.css 참고해서 로고 키프레임 만들어보기??!! */
/* logoAni 키프레임 */

/******************* 2. 중앙 영역 *******************/
/* @@@@@@ html 순서로 css 순서 바꾸기! 헷갈려! */
/* @@@@@@@CGV PJ 에서 예고편 크기 위치 조정한것 참고? */
.cont{
    /* margin-top: 100px; */
    /* ???????? 아래 max-width 하니까 화면 키울때 줄바꿈 됨 */
    /* max-width: 800px; */
    padding: 2vw;
    /* background: url(imgs/bg2.png); */
}
h2{
    text-align: center;
    text-decoration: overline;
    font-size: 30px;
    margin-top: 40px;
}

/* 아래처럼 %로 설정??? 이미지크기 */
/* top: 10%;
    left: 10%;
    width: 50%;
    height: 40%; */
/* ????????? cont를 flex로 지정하고, tbx를 flex: 1 해야하나?? */
.tbx{
    display: flex;
    flex-wrap: wrap;
}
.p{
    flex: 1;
    font-family: 'Roboto Condensed', sans-serif; 
    font-weight: 300;
}

.pd{
    font-size: min(3vw,23px);
    margin: min(5vw, 40px) 0 5px 10px;
    /* margin-left: 10px; */
}
h3{
    font-weight: 700;
}
.pi{
    font-size: min(17px, 2vw);
    /* @@@@@@@@@@@ 이미지 위치 괜춘...? 딱 중앙 맞나? */
    margin: 30px 0 30px 2vw;
    /* margin: 0 auto; */
    /* margin-top: 30px;
    margin-bottom: 30px; */
    /* margin-left: 4vw; */
    width: min(25vw,250px);
    /* max-width: 250px; */
}

.pi>img{
    border-radius: 50%;
    width: min(25vw,250px);

}
/* 위에 이미지 사라지고 나타나는 글 */
/* 유사하게 유지! */
.pi>p{
    /* margin: 30px 0 30px 2vw;
    width: min(25vw,250px); */
    display: none;
}

.mi{
    text-align: center;
}

/* @@@@@@@@아직 적용 안됨 */
.p:hover .pi>img{
    display: none;
}
.p:hover .pi:first-child{
    margin-top: 30px;
    font-weight: 700;
}
/* @@@@@@@@2뭔가 문제있음 */
.p:hover .pi>p{
    display: block;
    /* background-color: rgba(0, 0, 0, 0.7); */
    /* color: #fff; */
}

.p:hover h3{
    text-decoration: overline;
    color: orange;
}





/******************* 3. 하단영역 *******************/
.info{
    /* height: 240px; */
    /* 높이값을 주지 않으면 auto가 되어 내용만큼 늘어남! */
    background-color: #000;
    font-family: 'Nanum Gothic', sans-serif;
    padding: 15px;
}
.blogo {
    text-align: center;
}


/* 어느정도 이상 되면 더이상 커지지 않게 수정필요-> 완료 */

/* 이미지의 width 수정 */
.blogo>img{
    /* width: 20vw; */
    width: min(20vw, 200px);
}
/* 하단링크 */
.blink{
    text-align: center;
    /* max-width: 804px; */
    /* width: min(40vw, 800px); */
    /* @@@@@@@@@@@@@@@@@ 두줄 되지 않게!!@@@@@@@@@@@@@ 수정필요 */
    margin: 0 auto;
    /* 크기를 가지는 블록박스 중앙정렬 - 마영오! */
    /* margin-top: 10px; */
}
.blink>ul{
    margin: 0;
    padding: 0;
    list-style: none;
    /* 3無 */
    /* &&&&&&&&&&&&&&&&&flex로 수정
    display: flex; */
    /* display: flex;
    align-items: baseline;
    justify-content: space-evenly; */

}
/* 가상요소로 clear */
.blink>ul::after{
    content: '';
    display: block;
    clear: both;
}
.blink>ul>li{
    float: left;
    /* &&&&&&&&&&&&&&&&&flex로 수정 해보기???
    flex: 1; */
    text-align: center;
    /* line-height: 10px;
    flex: 1; */
}
/* 메뉴 a링크 */
.blink>ul>li>a{
    color: #fff;
    text-decoration: none;
    padding: 0 15px;
    line-height: 39px;
    /* font-size: 12px; */
    /* @@@@@@@@@@@@@@@@@ 두줄 되지 않게!!@@@@@@@@@@@@@ 수정필요 */

    font-size: min(1vw, 12px);
    text-align: center;
    font-weight: bold;
}
/* 메뉴 a링크 오버시 */
.blink>ul>li>a:hover{
    color: orange;
    text-decoration: overline;
}
#l1{
    max-width: 630px;
}
/* 내용많은 텍스트 */
.addr{
    max-width: 800px;
    margin: 15px auto;
    /* border: 4px double #222; */
    padding: 10px;
    /* box-sizing: border-box; */
    /* 크기유지-보더, 패딩포함! */
    text-align: center;
    font-style: normal;
    /* 기본 이탤릭 해제! */
    font-size: 9px;
    line-height: 2;

    color: #fff;
}
/* 하단로고 박스 */
.fn{
    /* width: 300px; */
    text-align: center;
    /* 인라인요소 중앙정렬 */
}
.fn>img{
    width: 250px;
    padding-bottom: 10px;
}
/* 이미지의 width 수정 */
.fn>img{
    width: 200px;
}
#l2{
    max-width: 790px;
}